[Match]
Name = eth0

[Network]
Description = Interface eth0 autoconfigured by PVE
Address = 193.191.177.226/25
Gateway = 193.191.177.254
DHCP = no
IPv6AcceptRA = false
